<!DOCTYPE html>
<html>
<head>
 <title>Golfstore</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<body>
 <div id='header'>
 <!-- Header Image Displayes here -->
 </div>
 <div id='menu'>
 <div id="navbar">
<ul>
<li><a href="/items">Products</a></li>
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact Us</a></li>
<li><%= link_to 'Login', new_user_session_path %></li>
<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
</ul>
 </div>
 </div>
 <div id='container'>
 <div id='content'>
 <p class="notice"><%= flash[:notice] %></p>
 <%= yield %>
</div>
<p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 <% if user_signed_in? %>
 <div>Signed in as... <%= current_user.email %> (<%= link_to 'Sign out', destroy_user_session_path, :method => :delete
%>)</div>
<% else %>
 <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
<% end %>
 <div id='first-column'>
 <div class="loginbox">
 <h2 class="BoxHeaders">Mohammad Shahnawaz Alam....</h2>
</div>
 <div class="searchbox">
<h2 class="BoxHeaders">X15014894</h2>
</div>
 </div>
 </div>
 <div id='footer'>
 <h6 class="footertext">&copy; Online Golf Store &trade; 2013</h6>
 </div>
</body>
</html>